{% extends 'base.html.twig' %}

{% block body %}
    <h1>Экземпляры объектов</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Код</th>
                <th>Объект</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instance in instances %}
            <tr>
                <td><a href="{{ path('admin_instance_show', { 'id': instance.id }) }}">{{ instance.id }}</a></td>
                <td>{{ instance.name }}</td>
                <td>{{ instance.code }}</td>
                <td>{{ instance.object.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_instance_show', { 'id': instance.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_instance_edit', { 'id': instance.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="btn btn-success" href="{{ path('admin_instance_new') }}">Создать новый экземпляр объекта</a>
        </li>
    </ul>
{% endblock %}
