{% extends 'base.html.twig' %}

{% block body %}

    <h1>Значения свойств объектов</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Экземпляр</th>
                <th>Свойство</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fieldValueText in fieldValueTexts %}
            <tr>
                <td><a href="{{ path('admin_fieldvaluetext_show', { 'id': fieldValueText.id }) }}">{{ fieldValueText.id }}</a></td>
                <td>{{ fieldValueText.value }}</td>
                <td>
                    {{ fieldValueText.instance.name }}
                </td>
                <td>
                    {{ fieldValueText.field.name }}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_fieldvaluetext_show', { 'id': fieldValueText.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_fieldvaluetext_edit', { 'id': fieldValueText.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="btn btn-success" href="{{ path('admin_fieldvaluetext_new') }}">Заполнить значение свойства</a>
        </li>
    </ul>
{% endblock %}
