{% trans_default_domain 'FOSUserBundle' %}


<div class="row mt-5">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">


        <div class="card text-center">
            <div class="card-header">
                Профиль пользователя
            </div>
            <div class="card-block">
                <dl class="row">
                    <dt class="col-sm-6">{{ 'profile.show.username'|trans }}</dt>
                    <dd class="col-sm-3">{{ user.username }}</dd>
                    <dt class="col-sm-6">{{ 'profile.show.email'|trans }}</dt>
                    <dd class="col-sm-3">{{ user.email }}</dd>
                </dl>
                <div class="form-group text-center"><a class="btn btn-warning" href="{{ path('fos_user_security_logout') }}">Выйти</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>




