{% extends 'base.html.twig' %}

{% block body %}
    <h1>Объекты</h1>

    <table class="table-striped table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                <td><a href="{{ path('admin_object_show', { 'id': object.id }) }}">{{ object.id }}</a></td>
                <td>{{ object.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_object_show', { 'id': object.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_object_edit', { 'id': object.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="btn btn-success" href="{{ path('admin_object_new') }}">Новый объект</a>
        </li>
    </ul>
{% endblock %}
