{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ object.name }}</h1>
    {% if object.fields %}
        <h2>Свойства объекта</h2>
        <table class="table-bordered table table-striped">
        {% for field in object.fields %}
            <tr>
                <th>{{ field.name }}</th>
                <td>{{ field.fieldType.name}}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="btn btn-success" href="{{ path('admin_objectfield_new') }}">Добавить свойство</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('admin_object_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_object_edit', { 'id': object.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
