{% extends 'base.html.twig' %}

{% block body %}
    <h1>Свойства объекта</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Код</th>
                <th>Объект</th>
                <th>Тип данных</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for objectField in objectFields %}
            <tr>
                <td><a href="{{ path('admin_objectfield_show', { 'id': objectField.id }) }}">{{ objectField.id }}</a></td>
                <td>{{ objectField.name }}</td>
                <td>{{ objectField.code }}</td>
                <td>{{ objectField.object.name }}</td>
                <td>{{ objectField.fieldType.name }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_objectfield_show', { 'id': objectField.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_objectfield_edit', { 'id': objectField.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="btn btn-success" href="{{ path('admin_objectfield_new') }}">Создать свойство объекта</a>
        </li>
    </ul>
{% endblock %}
