{% trans_default_domain 'FOSUserBundle' %}


<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5">
        <div class="card mt-5">
            <h3 class="card-header">Установка нового пароля</h3>
            <div class="card-block">


                {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

                {% for passwordField in form.plainPassword %}
                    <div class="form-group">
                        {{ form_label(passwordField) }}
                        {{ form_widget(passwordField, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                {% endfor %}
                <div class="form-group text-center">
                    <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}"/>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
</div>
